@import "tailwindcss";

/* Style untuk warning kustom Anda */
.my-toast-warning {
  background: #F59E0B !important; /* Kuning (Amber 500) */
  color: #000000 !important;      /* Teks hitam agar terbaca */
}

/* Style untuk error Anda */
.my-toast-error {
  background: #DC2626 !important; /* Merah (Red 600) */
  color: #FFFFFF !important;      /* Teks putih */
}

.my-toast-success {
  background: #22C55E !important; /* Merah (Red 600) */
  color: #FFFFFF !important;      /* Teks putih */
}

